<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
  
	<context:component-scan base-package="com.spring.biz" />

	<!-- <bean id="LogAdvice" class="com.spring.biz.common.LogAdvice" /> -->
	<!-- <bean id="LogAdvice2" class="com.spring.biz.common.LogAdvice2" /> -->
	<!-- <bean id="aroundAdvice" class="com.spring.biz.common.AroundAdvice" /> -->
	<!-- <bean id="afterReturningAdvice" class="com.spring.biz.common.AfterReturningAdvice" /> -->
	<!-- <bean id="advice" class="com.spring.biz.common.AfterThrowingAdvice" /> -->
	<bean id="advice" class="com.spring.biz.common.AroundAdvice" />
	<aop:config>
		<!-- <aop:pointcut expression="execution(OUTPUT FUNCNAME(INPUT))" id="" /> -->
		<aop:pointcut expression="execution(* com.spring.biz..*Impl.*(..))" id="aPointcut" />
		<aop:pointcut expression="execution(* com.spring.biz..*Impl.select*(..))" id="bPointcut" />
		
		<!-- <aop:aspect ref="LogAdvice2"> -->
		<!-- <aop:aspect ref="aroundAdvice"> -->
		<aop:aspect ref="advice">
			<!-- <aop:before method="printLog2" pointcut-ref="aPointcut" /> -->
			<!-- <aop:after method="printLog2" pointcut-ref="bPointcut" /> -->
			<!-- <aop:around method="aroundPrintLog" pointcut-ref="bPointcut" /> -->
			<!-- <aop:after-returning method="afterReturningPrintLog" pointcut-ref="bPointcut" returning="returnObj" /> -->
			<!-- <aop:after-throwing method="afterThrowingPrintLog" pointcut-ref="aPointcut" throwing="exceptObj" /> -->
			<aop:around method="aroundPrintLog" pointcut-ref="aPointcut" />
		</aop:aspect>
	</aop:config>
</beans>
